  <div class="login-container">
    <div class="login-image">
      <img src="assets/iniciosesion.jpg">
    </div>
    <div class="login-form">
      <h1>Inicia sesión en tu cuenta de Udemy</h1>
      <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input type="email" placeholder="Correo electrónico"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-button expand="block" class="botonis">Iniciar sesión</ion-button>

      <ion-text>
        <p><a href="#">He olvidado la contraseña</a></p>
      </ion-text>

      <p>Otras opciones de inicio de sesión</p>
      <div class="social-buttons">
        <ion-button fill="clear">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="logo-apple"></ion-icon>
        </ion-button>
      </div>
      <div class="register-options">
        <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
        <p><a href="#">Inicia sesión con tu organización</a></p>
      </div>
    </div>
  </div>

