  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size="12">
        <img src="assets/udebusiness.jpg" alt="Udemy Business" class="logo"/>
        <h2>Desarrolla las habilidades de tu equipo gracias a Udemy Business</h2>
        <ul>
          <li>Acceso ilimitado a más de 27 000 de los mejores cursos de Udemy en cualquier momento y lugar</li>
          <li>Colección internacional de cursos en 14 idiomas</li>
          <li>Las certificaciones más populares en tecnología y empresas</li>
        </ul>
        <div class="button-group">
          <ion-button color="dark">Consigue Udemy Business</ion-button>
          <ion-button color="dark" fill="outline">Más información</ion-button>
        </div>
      </ion-col>
      <ion-col size-md="6" size="12">
        <img src="assets/promopen.jpg" alt="Team collaboration" class="image" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" size="12">
        <div class="image-container" style="background-color: #f3f3f3; padding: 100px;">
          <img src="assets/promoult.jpg" alt="Instructor" class="image" />
        </div>
      </ion-col>
      <ion-col size-md="6" size="12">
        <h2>Conviértete en instructor</h2>
        <p>Instructores de todo el mundo enseñan a millones de estudiantes en Udemy. Proporcionamos las herramientas y las habilidades para que enseñes lo que te apasiona.</p>
        <ion-button color="dark">Empieza a enseñar hoy mismo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
